.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 1;
  overflow: hidden;
  display: none;

  &__open {
    display: block;
  }
}

.cart {
  position: absolute;
  width: 385px;
  height: 100%;
  background-color: white;
  right: 0;
  top: 0;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;

  &__open {
    transform: translateX(0%);
  }

  &-wrapper {
    box-sizing: border-box;
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;

    h4 {
      font-weight: 700;
      display: flex;
      justify-content: space-between;
    }
  }

  &-items {
    margin-top: 30px;
    flex: auto;
    overflow: auto;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    justify-content: center;

    img {
      margin-bottom: 20px;
    }

    h5 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .empty-comment {
      font-weight: 400;
      color: #000000;
      opacity: 0.5;
      text-align: center;
      max-width: 285px;
      margin-bottom: 40px;
    }

    button {
      width: 245px;

      &:hover {
        img {
          transform: translateX(-5px);
        }
      }

      img {
        position: absolute;
        left: 25px;
        top: 21px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &-total-block {
    li {
      display: flex;
      align-items: baseline;
      margin-bottom: 10px;

      div {
        margin: 0px 10px 0 10px;
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
      }
    }

    button {
      margin-top: 25px;
      width: 100%;

      &:hover {
        img {
          transform: translateX(5px);
        }
      }

      img {
        position: absolute;
        right: 35px;
        top: 20px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
